.img1 {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 95%;
    border-radius: 5px;
}

.img2 {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

#content {
    position: absolute;
    width: 700px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
    padding: 5px;

    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 98%;
}

#left-panel {
    display: flex;
    flex-flow: column nowrap;

    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.grid-item1 {
    padding: 10px;
}

.flex-item {
    height: 50px;
    padding: 5px;

    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 100%;

    border-radius: 10px;
    background-color: white;
    color: black;
}

.grid-item2-text {
    float: left;
    padding: 15px 5px;
}

#name-box {
    width: 96%;
    margin: auto;
    padding: 1px 5px;
    text-align: center;

    border-radius: 5px;
    border-color: transparent;
}