.img1 {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 94%;
    border-radius: 5px;
}

.img2 {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

#content {
    position: absolute;
    width: 750px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
    padding: 5px;

    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 100%;
}

#left-panel {
    display: flex;
    flex-flow: column nowrap;

    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.grid-item1 {
    padding: 5px;
}

.flex-item {
    height: 50px;
    padding: 5px;

    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 100%;

    border-radius: 10px;
    background-color: white;
    color: black;
}

.flex-item-selected {
    background-color: dodgerblue !important;
    color: white !important;
}

.grid-item2-text {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 5px;
    white-space: nowrap;
    overflow: hidden;
}

#name-box {
    font-size: 16px;
    width: 96%;
    margin: auto;
    padding: 1px 5px;
    text-align: center;

    border-radius: 5px;
    border-color: transparent;
}